<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <title>GG | Genuine Gamers</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<form th:action="@{/auth/register}" th:object="${user}" method="post">
		<div class="registro-box">
			<img src="../img/logo-f.png" class="logo"> 
      		<h1>Registrese Aquí</h1>
      			<label for="username">Usuario</label>
         			<input type="text" th:field="*{username}" placeholder="Introduzca Usuario">
      			<label for="pwd">Contraseña</label>
         			 <input type="password" th:field="*{pwd}" placeholder="Introduzca Contraseña">	
          		<label for="tlf">Teléfono</label>
          			<input type="number" th:field="*{tlf}" placeholder="Introduzca Teléfono">
          		<label for="mail">E-mail</label>
          			<input type="email" th:field="*{mail}" placeholder="Introduzca E-mail">
          	<!-- 	<label for="fnac">Fecha de Nacimiento</label>
         			<input type="datetime-local" th:field="*{fnac}" placeholder="Introduzca su Fecha de Nacimiento"> -->
         		<label for="sex">Sexo</label> <br>
          			<div class="check">Hombre<input type="radio" th:field="*{sex}" name="sex" value="Hombre"></div>
          			<div class="check">Mujer&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" th:field="*{sex}" name="sex" value="Mujer"></div>
        	<input type="submit" value="Registrate">
        	<a href="@{/auth/login}">Volver al Login</a>
		</div>
	</form>
</body>
</html>