<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GG | Genuine Gamers</title>
    <link rel="icon" type="image/x-icon" href="/img/logo.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style-log.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <script type="text/javascript" src="../js/scripts.js"></script>
   <script type="text/javascript">
        
    </script>
  </head>
  <body>
    <div class="registro-box">
      <img src="../img/logo-f.png" class="logo">
      <h1>Registrese Aquí</h1>
      <form method="post" name="registroform" th:action="@{/auth/register}" th:object="${user}">
        <label for="user">Usuario</label>
         <input type="text" th:field="*{username}" placeholder="Introduzca Usuario" id="user" onkeyup="valuser()" required minlength="6" maxlength="50" value="Antonio">
        <label for="pwd">Contraseña</label>
          <input type="password" th:field="*{pwd}" placeholder="Introduzca Contraseña" onkeyup="valpwd()" id="pwd" required minlength="6" maxlength="14">
        <label for="cpwd">Vuelva a introducir la contraseña</label>
          <input type="password" placeholder="Introduzca Contraseña" onchange="valcpwd()" onblur="pwdError()" id="cpwd" required minlength="6" maxlength="14" >
        <label for="tlf">Teléfono</label>
          <input type="text" th:field="*{tlf}" placeholder="Introduzca Teléfono" onkeyup="valtlf()" id="tlf" required minlength="9" maxlength="9" value="666666666">
        <label for="mail">E-mail</label>
          <input type="text" th:field="*{mail}" placeholder="Introduzca E-mail" onkeyup="valmail()" id="mail" required minlength="3" maxlength="50" value="pepe@gmail.es">
        <label for="fnac">Fecha de Nacimiento</label>
          <input type="date" th:field="*{fnac}" placeholder="Introduzca su Fecha de Nacimiento" onblur="valdate()" id="date" required value="1999-12-04">
        <label for="sex">Sexo</label>
        <br>
          <div class="check">Hombre<input type="radio" value="Hombre" name="sex" onchange="valsex()" required></div>
          <div class="check">Mujer&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" value="Mujer" name="sex" onchange="valsex()" required></div>
         <label for="img">Image</label>
         	<input type="file" th:field="*{img}">
        <button id="submit" value="Registrate" onclick="valf()">Registrate</button>
        <a th:href="@{/auth/login}">Volver al Login</a>
      </form>
    </div>
  </body>
</html>