<div th:replace="_t/head" />
<div th:replace="_t/nav" />
<table class="table table-dark" style="display: none">
	<tbody>
		<tr th:each="game:${games}">
			<td th:text="${game.id}" id="idjuego" th:value="${game.id}"
				class="Sfiltrar"></td>
			<td th:text="${game.name}" id="namejuego" th:value="${game.name}"
				class="Sfiltrar"></td>
			<td th:text="${game.category}" id="catjuego"
				th:value="${game.category}" class="Sfiltrar cat"></td>
			<td th:text="${game.description}" id="descjuego"
				th:value="${game.description}" class="Sfiltrar"></td>
			<td th:text="${game.img}" id="imgjuego" th:value="${game.img}"
				class="Sfiltrar"></td>
			<td th:text="${game.punctuation}" id="puncjuego"
				th:value="${game.punctuation}" class="Sfiltrar"></td>
		</tr>
	</tbody>
</table>
<div class="container card col-lg-12 col-md-6 bg-dark text-light mb-2">
	<h1 class="display-1">Actualizar Juego</h1>
	<form method="post" th:object="${game}">
		<input type="hidden" th:field="*{id}">
		<div class="form-group create-games">
			<label>New Name</label> <input type="text" name="name"
				class="form-control" th:value="${game.name}">
		</div>
		<div class="form-group create-games">
			<label>Category</label> <input type="text" id="category"
				name="category" class="form-control">
		</div>
		<div class="form-group create-games">
			<label>Description</label> <input type="text" id="description"
				name="description" class="form-control">
		</div>
		<input type="submit" value="Enviar"
			class="btn btn-primary games-button">
	</form>
</div>
<div th:replace="_t/footer" />
<div th:replace="_t/end" />