        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">
                    Copyright &copy; GG Team 2021<br>
                    <a href="https://github.com/ProyectoReyFernando/GenuineGames" title="github" class="fab fa-github" target="_blank"></a>
                    <a href="mailto:gg-team@genuinegamers.aaritmendi.es" title="mail" class="fas fa-mail-bulk" target="_blank"></a>
                </p>
            </div>
        </footer>
