<div th:replace="/_t/head" />
<div th:replace="/_t/nav" />

<!-- Section-->
<section class="py-5 bg-dark card">
	<div class="container px-4 px-lg-5 mt-5 card card-body bg-light">
		<div
			class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xs-4 justify-content-center col-lg-12">
			<div class="alig-items-center d-flex">
				<h2 class="display-4">Ajustes</h2>
			</div>
			<br>
		</div>
		<div class="col-lg-12 justify-content-center alig-items-center d-flex">
			<div class="card col-lg-3 ajustes-form">
				<form>
					Acepta el uso de cookies <select name="cookies"
						class="ajustes-cajas">
						<option value="value1" selected>Si</option>
						<option value="value2">No</option>
					</select> <br> ¿Quiere activar la recuperación de contraseña? <select
						name="rPwd" class="ajustes-cajas">
						<option value="value1" selected>Si</option>
						<option value="value2">No</option>
					</select> <br> <br> <input type="submit" value="Confirmar cambios"
						class="btn btn-dark">
				</form>
			</div>
			<div class="card col-lg-6 ajustes-form">
				<form th:object="${user}" method="post">
					<input action="/user/ajustes" type="hidden" th:field="*{id}">		
					Cambiar Usuario <br> <input type="text" name="username"
						placeholder="Introduzca su nuevo nombre de usuario"
						class="col-lg-12 ajustes-cajas" th:value="${user.username}" onkeyup="valuser()"> <br>
					<input type="submit" value="Confirmar cambio" class="btn btn-dark">
				</form>
				<form action="/user/updateDataUser" method="post">
					Cambiar de contraseña <br> <input type="pwd" name="pwd"
						placeholder="Introduzca su nueva contraseña"
						class="col-lg-12 ajustes-cajas" onkeyup="valpwd()"> <br>
					<input type="text" name="pwd"
						placeholder="Repita su nueva contraseña"
						class="col-lg-12 ajustes-cajas" th:value="${user.pwd}" onblur="pwdError()"> <br>
					<br> <input type="submit" value="Confirmar cambio"
						class="btn btn-dark">
				</form>
				<form action="/user/intermedio" method="post">
					Cambiar de correo <br> <input type="text" name="mail"
						placeholder="Introduzca su nuevo correo"
						class="col-lg-12 ajustes-cajas" onkeyup="valmail()"> <br> <input
						type="submit" value="Confirmar cambio" class="btn btn-dark">
				</form>
				<form action="/user/intermedio" method="post">
					Cambiar de Telefono <br> <input type="text" name="tel"
						placeholder="Introduzca su nuevo correo"
						class="col-lg-12 ajustes-cajas"  onclick="valf()"> <br> <input
						type="submit" value="Confirmar cambio" class="btn btn-dark">
				</form>
			</div>
		</div>
	</div>
</section>
<div th:replace="/_t/footer" />