<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>GG - Genuine Gamers</title>
        <!-- Favicon-->
       	<link rel="icon" type="image/x-icon" href="/img/logo.png" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/style.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href=""><img src="/img/logo.png"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Contacto</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categorías</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">MOBA</a></li>
                                <li><a class="dropdown-item" href="#!">Carreras</a></li>
                                <li><a class="dropdown-item" href="#!">Shooters</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex" method="post" th:action="@{/logout}">
                            <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="/img/perfil.png" class="perfil"></a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="ajustes.html"><img class="tab-icon icon-ajustes" src="/img/ajustes.png">Ajustes</a></li>
                                <li><a class="dropdown-item" href="#!"><img class="tab-icon icon-avatar" src="/img/avatar.png"> Perfil</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#!"><img class="tab-icon icon-logout" src="/img/logout.png"><button>Logout</button></a></li>
                            </ul>
                        </li>
                    </form>
                </div>
            </div>
        </nav>
        <!-- Section-->
        <section class="py-5 bg-dark card">
            <div class="container px-4 px-lg-5 mt-5 card card-body bg-light">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center col-lg-12">
                    <div class="alig-items-center d-flex">
                        <h2 class="display-4">Ajustes</h2>
                        <img src="/img/ajustes.png" class="ajustes-icon">
                    </div>
                    <br>
                </div>
                <div class="col-lg-12 justify-content-center alig-items-center d-flex">
                    <div class="card col-lg-3 ajustes-form">
                        <form>
                        Acepta el uso de cookies
                        <select name="cookies" class="ajustes-cajas">
                            <option value="value1" selected>Si</option>
                            <option value="value2">No</option>
                        </select> 
                        <br> 
                        ¿Quiere activar la recuperación de contraseña?
                        <select name="rPwd" class="ajustes-cajas">
                            <option value="value1" selected>Si</option>
                            <option value="value2">No</option>
                        </select> 
                        <br><br>
                        <input type="submit" value="Confirmar cambios" class="btn btn-dark">
                        </form> 
                    </div>
                    <div class="card col-lg-6 ajustes-form">
                        <form>
                        Cambiar de contraseña
                        <br>
                        <input type="text" name="pwd" placeholder="Introduzca su nueva contraseña" class="col-lg-12 ajustes-cajas">
                        <br>
                        <input type="text" name="pwd" placeholder="Repita su nueva contraseña"  class="col-lg-12 ajustes-cajas">
                        <br><br>
                        <input type="submit" value="Confirmar cambio" class="btn btn-dark">
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; GG Team 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>