<div th:replace="/_t/head" />
<div th:replace="/_t/nav" />
<!-- Section-->
<section class="bg-dark py-perfil d-flex flex-row justify-content-center alig-items-center">
	<div class="container card col-lg-11 col-md-6">
		<div class="row container align-items-center justify-content-center">
			<div class="col-lg-12 m-3 text-center">
				<div class="container" th:each="game:${games}">
					<div class="row align-items-start d-flex">
						<div class="col-lg-6 col-md-12"><img th:src="@{'/img/'+${game.img}}" th:alt="${game.img}" class="img-fluid"></div>
						<div class="col-lg-4 col-md-9"><h2 class="card-title" th:text="${game.name}"></h2><br><h4 th:text="${game.category}"></h4></div>
						<!-- *****ESTE ES EL DIV QUE DEBERÍA DE IR PERO COMO NO TENEMOS PUNTUACIÓN SINO, NO LO MUESTRA*****
							<div class="col-lg-2 col-md-3" th:text="${game.punctuation}"></div
						>-->
						<div class="col-lg-2 col-md-3">Puntuación</div>
					</div>
					<div class="row align-items-end mt-2">
						<div class="col-12 align-items-center">
							<h5 th:text="${game.description}"></h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 m-3">
				<h2>Comenta tu opinion</h2>
				<div class="card mt-1" th:each="game:${games}">
					<form action="/user/comment" method="POST">
						<div class="form-group">
							<input type="text" name="texto" class="form-control" placeholder="Comenta tus ideas">
						</div>
						<input type="hidden" name="nombre" th:value="${game.name}">
						<input type="submit" value="Comentar" class="btn btn-primary games-button">
					</form>
				</div>
				<div class="card mt-2" th:each="comment:${comments}">
					<h5 class="card-header" th:text="${comment.user.username}">Comentario</h5>
					<div class="card-body">
						<p class="card-text" th:text="${comment.text}"></p>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<div th:replace="/_t/footer" />
<div th:replace="/_t/end" />