<div th:replace="/_t/head"/>
<div th:replace="/_t/anonnav"/>
<header class="bg-dark py-5" onload="caja2()">
	<div class="container px-4 px-lg-5 my-5">
		<div class="text-center text-white">
			<h1 class="display-4 fw-bolder">Genuine Gamers</h1>
			<p class="lead fw-normal text-white-50 mb-0">
				No cumplimos propositos<br> <b>Desbloqueamos Logros</b>
			</p>
			
		</div>
	</div>
</header>
<!-- Section-->
<section class="py-5">
	<form th:object="${games}">
		<input type="text" th:field="*{name}">
	</form>
	<table class="table table-dark">
		<tbody>
			<tr th:each="game:${games}">
				<td th:text="${game.id}" id="idjuego" th:value="${game.id}"></td>
				<td th:text="${game.name}" id="namejuego" th:value="${game.name}"></td>
				<td th:text="${game.category}" id="catjuego"
					th:value="${game.category}"></td>
				<td th:text="${game.description}" id="descjuego"
					th:value="${game.description}"></td>
				<td><img th:src="@{'/img/'+${game.img}}" th:alt="${game.img}"
					style="max-width: 15%"></td>
				<td th:text="${game.punctuation}" id="puncjuego"
					th:value="${game.punctuation}"></td>
			</tr>
		</tbody>
	</table>
</section>
<div th:replace="/_t/footer"/>
<div th:replace="/_t/end"/>
