<!DOCTYPE html>
<html>
<head>
<title>GenuineGamer</title>
<link rel="shortcut icon" href="media/logoC.png" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
	<ul class="barra">
		<li class="img">
			<div id="circle">
				<img src="media/logo.png" id="logo">
			</div> </a>
		</li>
		<li class="buscador"><input type="text" id="buscar" value="....">
			<img src="media/lupa.png" id="buscadorimg"></li>
		<li class="login"><a th:href="@{/auth/login}" id="login">Login</a>
		<a th:href="@{/auth/register}">Registro</a></li>
		<li class="Tendencias"><a href="Tendencias" id="Tendencias">Tendencias</a>
		</li>
		<li class="recomendado"><a href="Recomendaciones"
			id="recomendado">Recomendaciones</a></li>
	</ul>
	<div id=fondo>
		<span id="inicio"> <b><i>Comparte tus partidas<br>
					con la comunidad
			</i></b>
		</span>
	</div>

	<div id="texto">
		El argumento cosmológico del Monstruo de Espagueti Volador<br>

		Premisa 1: la existencia de todo lo que comienza a existir tiene una
		causa.<br> Premisa 2: el universo comenzó a existir.<br>
		Conclusión 1: por lo tanto la existencia del universo tiene una causa.<br>
		Premisa 3: como no hay una explicación científica que pueda elucidar
		la causa del origen del universo, esta causa debe ser sobrenatural, o
		sea el universo fue creado por un dios.<br> Conclusión 2: por lo
		tanto, un dios existe.<br> Premisa 4: los dioses siempre han
		creado a los humanos a su propia imagen y semejanza.<br> Premisa
		5: el cerebro de los humanos parece una fuente de espaguetis.<br>
		Conclusión 3: por lo tanto, el Monstruo de Espagueti Volador es el
		único Dios verdadero.<br> Argumento ontológico del Monstruo de
		Espagueti Volador<br> Parafraseando las premisas ontológicas de
		Anselmo de Canterbury: Premisa 1: se puede imaginar el ser más grande
		(del que no se pueda imaginar uno más grande).<br> Premisa 2: si
		no existe un ser a partir del cual no se puede imaginar uno más
		grande, de todos modos yo podría imaginar uno más grande que ese ser
		del cual no se podía imaginar uno más grande (o sea, un ser a partir
		del cual realmente ya no se pueda imaginar uno más grande).<br>
		Premisa 3: no es posible imaginar un ser más grande que un ser del
		cual ya no es posible imaginar uno más grande.<br> Conclusión 1:
		por lo tanto, existe un ser del que no se puede imaginar uno más
		grande.<br> Premisa 4: si ese ser no tiene un Apéndice
		Tallarinesco, entonces yo podría imaginar un ser más grande que ese
		ser: uno que tuviera un Apéndice Tallarinesco.<br> Conclusión 2:
		por lo tanto, el ser del que no se puede imaginar uno más grande tiene
		un Apéndice Tallarinesco.<br> Conclusión 3: por lo tanto, el ser
		del que no se puede imaginar uno más grande tiene un Apéndice
		Tallarinesco y existe<br> Conclusión 4: por lo tanto, el Monstruo
		del Espagueti Volador existe.<br> Conclusión 5: por lo tanto, el
		Monstruo del Espagueti Volador es todopoderoso.>
		</p>
	</div>
</body>

</html>